{{#if resume.awards.length}}
<div class="container awards-container {{#if resume.awards.[0].breakBefore}}container-page-break{{/if}}">
  {{> title value="Awards"}}

  {{#each resume.awards}}
  <section class="item {{#if breakBefore}}{{#unless @first}}page-break{{/unless}}{{/if}}">
    {{> section-header name=this.title }}

    {{#if awarder}}
    <h5 class="awarder">{{awarder}}</h5>
    {{/if}}

    {{#if summary}}
    <p class="summary">{{summary}}</p>
    {{/if}}
  </section>
  {{/each}}
</div>
{{/if}}