<div class="info-tag-container">
  {{#if icon}}
    <i class="fa {{icon}}"></i>
  {{/if}}

  {{#if url}}
    <h6 class="info-text">
      {{removeProtocol text}}
    </h6>
  {{else}}
    <h6 class="info-text">{{{text}}}</h6>
  {{/if}}
</div>