<div class="project-header clearfix">
  {{#if name}}
    <h3 class="bold pull-left">
      {{#if website}}
      <a href="{{website}}" target="_blank">
        {{name}} <i class="fa fa-external-link" aria-hidden="true"></i>
      </a>
      {{else}}
      {{name}}
      {{/if}}
    </h3>
  {{/if}}
</div>